.shop {
	display: flex;
}
.products {
	margin-left: 50px;
	margin-right: 240px;
}
.position {
	position: absolute;
	display: none;
}
.form {
	display: none;
}
button {
	width: 180px;
	border-radius: 20px;
}